name: Security Checks

on:
  pull_request

permissions:
  contents: read
  pull-requests: write

jobs:
  security:
    name: Security Checks
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: tfsec
      uses: aquasecurity/tfsec-pr-commenter-action@v1.3.1
      with:
        github_token: ${{ github.token }}
